.container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  .paragraph{
  width: 900px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  color: rgb(0, 98, 255);
  font-size: 50px;
  text-align: center;
  background:rgba(0, 255, 255, 0.192);
  width: 1000px;
  border-radius: 20px;
  }
  h1{
    justify-content: center;
  }
}