.item{
  width: 600px;
  background-color: rgba(0, 0, 0, 0.103);
  display: flex;
  margin: 20px;
  border-radius: 100px;
  justify-content: center;

  img{
    width: 400px;
    height: 350px;
    border-radius: 50px;
    margin-bottom: 20px;
  }
}