nav{
  background-color: rgba(0, 255, 255, 0.281);
  display: flex;
}
.logoAnthon{
  width: 5rem;
  border-radius: 3rem;
}
h2{
  margin: auto 1.25rem;
}
ul{
  display: flex;
  margin: auto 9.063rem;
}
a{
  text-decoration: none;
}
li{
  list-style: none;
  flex-direction: row;
  margin: 0 1.25rem;
  color: black;
}
