@import "../../../Size.scss";
@import "../../../Color.scss";
.cardProductGeneral{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.product-card {
    display: flex;
    height: 100%;
    padding: $large;
    margin: $small;
    box-shadow: 0 $extraSmall $small 0 rgba(207, 203, 203, 0.5);
}

.card-content {
    text-align: center;
    margin: auto auto;
    img {
        width: 100%;
        border-radius: $extraSmall;
    }
    h5,
    h4 {
        color: $ligthtBlue;
        margin-top: $small;
    }
}
